<div class="h4wrap">
    <h3>상품안내</h3>
    <h4>1. 합격전략특강 수강 / 교재배송 안내</h4>
    <div>
        1) TESAT 특별시험 대비 합격전략특강은 30일 기본 수강기간 외에 12/20 특별시험일까지 온라인 특강을 무제한으로 연장하여 수강하실 수 있습니다.<br/>
        2) 결제 완료 후 강의는 나의강의실에서 확인 가능하며, 제공되는 개별 강의 구성은 상황에 따라 변동될 수 있습니다.<br/>
        3) [TESAT 공부법] 교재는 해커스독학사 마이페이지에 입력하신 주소로 개별 발송됩니다. <br>
        4) 해커스독학사 강의 재생과 서비스는 Window 운영체제와 Internet Explorer 브라우저 그리고 크롬 브라우저에 최적화 되어 있으며, 맥OS 및 가상화 환경 (회사 네트워크의 내부/외부망과 같은 상태)에서도 강의 재생이 가능합니다.
    </div>
</div>

<div class="h4wrap">
    <h3>환불</h3>
    <h4>1. 강의 환불기준</h4>
    <div>
        1) 결제 및 교재 수령일로부터 7일 이내 수강한 과목이 없는 경우 : [결제금액 100% ]<br/>
        2) 결제 및 교재 수령일로부터 7일 이내 1강 이상 수강 : [결제금액 - 학습수수료] 환불<br/>
        3) 결제 및 교재 수령일로부터 7일 경과 후 : 결제금액 - 학습수수료 - 위약금 ([결제금액-교재비]의 10%) = 환불<br/>
        ※ 학습수수료는 실제 수강한 강의의 단과강의 판매 가격을 기준으로 계산합니다. 공제액은 수강한 강좌의 전체강좌 수 대비 수강한 수에 비례하여 산정한 금액으로 계산합니다.<br/>
        ※ 쿠폰 등을 통해 할인 혜택을 받으신 경우 실 결제 금액을 기준으로 환불 금액을 산정합니다.
    </div>
</div>

<div class="h4wrap">
    <h4>2. 교재 환불 기준</h4>
    <div>
        1) 강의 환불 기준과 달리 교재 반품의 경우 수령 후 7일 이내 아래 기준에 따라 사용하지 않은 교재에 한하여 환불이 가능합니다. 다만, 강의와 별도로 교재만 따로 환불하는 것은 불가능하며, 강의 환불 시 교재만 따로 반납 받지도 않습니다.<br/>
        2) 교재는 사용하지 않은 경우에 한해 환불이 가능하기 때문에 아래 사항 중 어느 하나의 경우에 해당하는 교재는 환불이 불가능하여 강의 환불시 교재비(총 금액)가 추가 공제됩니다.<br/>
        - 소비자에게 책임 있는 사유로 교재가 멸실되거나 훼손된 경우.<br/>
        - 소비자의 사용 또는 일부 소비로 교재의 가치가 현저히 감소한 경우<br/>
        - 시간이 지나 다시 판매하기 곤란할 정도로 교재의 가치가 현저히 감소한 경우<br/>
        3) 교재 배송 출발 이후 환불 요청 시 왕복배송비 6,000원을 제외하고 환불이 진행됩니다. 다만, 교재를 사용하였거나, 반품 기한이 지나 환불이 불가한 경우 최초 배송비 3,000원과 하기 [※ 환불 시 공제되는 교재 금액 안내]에서 공지한 금액이 공제됩니다.<br/>
        ※ 환불시 공제되는 교재 금액<br/>
        - TESAT 특별시험 전용교재 : 15,000원
    </div>
</div>

<div class="h4wrap">
    <h4>3. 무료 혜택 및 서비스(이하 ‘무료 혜택 등’)의 공제 기준</h4>
    <div>
        1) 해커스독학사는 환불 금액에서 ‘무료 혜택 등’의 가치에 상당하는 금액( 하기 [※ 공제 기준 가액])을 공제합니다. 다만, ‘무료 혜택 등’이 '반환할 수 있는 상태'(통상적으로 재사용이 가능한 상태) 혹은 미사용 상태인 것으로 확인이 되면, [※ 공제 기준 가액]은 공제하지 않고 환불 금액이 지급됩니다.<br/>
        ※ 공제 기준 가액<br/>
        - 응시권 할인 가격 : 10,000원
    </div>
</div>

<div class="h4wrap">
    <h4>4. 환불 금액 지급 기한</h4>
    <div>
        1) 신용카드 결제 혹은 PG사(LGU+)를 통해 결제하신 경우 : 환불 신청 시/반품 상품 수령 시 지체없이 카드사 혹은 PG사(LGU+)에 결제 취소 요청하고, 이후 카드사 혹은 PG사(LGU+)에서 결제에 대해 취소 혹은 부분 취소 처리 합니다.<br/>
        2) 에스크로 결제 혹은 해커스 독학사계좌로 직접 입금하신 경우 : 환불 신청일/반품 상품 수령일로부터 3영업일 이내에 입력하신 계좌로 환불 금액 입금됩니다.<br/>
        단, 환불 신청자가 계좌 번호를 잘못 기재 혹은 계좌 번호 입력을 늦게 하여 환불 금액 지급이 지체되는 경우에 대해서 해커스 독학사가 책임지지 않습니다.
    </div>
</div>

<div class="h4wrap">
    <h4>5. 환불절차</h4>
    <div>
        1) 환불을 원하시는 경우 해커스독학사 고객센터 (1599-3081)으로 전화하시면, 환불 문의 및 신청이 가능합니다.<br/>
        - 고객센터 운영시간 :월~금 08:30~19:00<br/>
        2) 전액환불의 경우 환불 문의 후 전액 환불이 가능하다는 검토 내용에 동의하지 않으셔도 자동 환불 처리 됩니다.<br/>
        3) 부분환불의 경우 검토 드린 환불 금액에 동의하시면 그때 환불 신청이 되고, 환불 처리 됩니다.<br/>
        4) 환불 문의 시 교재 등의 반품 여부 선택이 가능합니다. 교재 등의 반품을 선택한 경우 환불 금액 검토 완료된 후 교재 등의 반품에 동의하시면 반품 기사님 방문하셔서 교재 등을 수령해갑니다.
    </div>
</div>
<div class="h4wrap">
    <h4>6. 응시권 환불 기준</h4>
    <div>
        1) 응시권은 10/18, 12/20 에 진행되는 특별시험 접수 기간 시작 후 7일 이내 응시권을 사용하시지 않았거나,
		접수 취소한 분에 한하여 환불 신청이 가능합니다.<br/>
        2) 환불 신청 이후부터 응시권은 더 이상 사용 불가하며, 사용 시 환불 금액은 지급되지 않습니다.
    </div>
</div>

<div class="h4wrap">
    <h4>7. 기타 환불 정책과 관련한 유의사항</h4>
    <div>
        1) 미성년자와 거래에 대한 계약 시, 법정대리인이 그 계약에 동의하지 아니하면 미성년자 본인 또는 법정대리인이 그 계약을 취소시킬 수 있습니다.<br/>
        2) 상품에 결함이 있거나 상품이 표시광고의 내용과 다르거나 계약내용과 다를 경우 그 상품 등을 공급받은 날부터 3개월 이내, 그 사실을 안 날 또는 알 수 있었던 날부터 30일 이내에 환불 가능합니다.<br/>
        3) 환불 금액은 반품 신청한 교재의 반송 및 미사용 확인 후 결제 수단에 따라 현금 부분환불 또는 카드 부분 취소로 처리됩니다.<br/>
        4) 주소 미기재 및 불명확한 주소 입력으로 상품 등을 수령하지 못하였을 시에는 해커스독학사에서 책임지지 않습니다.<br/>
        5) 혜택으로 쿠폰이나 포인트 등을 받으신 경우 쿠폰은 사용불가 처리, 지급된 포인트는 차감됩니다.<br/>
        <strong style="color:red;">6) 결제 후 수강 대기 상태에서 7일이 경과된 시점부터 수강 중인 상태로 변경 됩니다.</strong><br/>
        <strong style="color:red;"> 7) 연장기간은 무료 혜택으로 지급되는 기간이므로 연장된 기간 동안에는 환불이 불가합니다.</strong>
    </div>
</div>