<meta http-equiv="Content-Type" content="text/html; charset=euc-kr" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="robots" content="ALL" />
<meta name="google-site-verification" content="unAX6PHkQFvc6WYhFfdph36wmJQBMUku57dKv_apRmc" />
<meta name="naver-site-verification" content="859323c00ff002c42d8122b2be99b3951c549d8b"/>
<meta name="naver-site-verification" content="f5af9563ad577739410897889e75938b55a18099"/>
<meta name="description" content="취업학원,취업인강,취업컨설팅,자소서,면접,NCS,GSAT,인적성,대기업,공기업" />
<title>해커스 공기업 :: 공기업 취업의 모든것! 최고의 취업강의 1위!</title>
<?php if ($styleType =="mainCon") { ?>
<link type="text/css" href="/css/main.css" rel="stylesheet"> <!-- main -->
<?php } else { ?>
<link type="text/css" href="/css/contents.css" rel="stylesheet"> <!-- sub -->
<?php } ?>

<script type="text/javascript" src="/js/lib/jquery-1.12.4.min.js"></script> <!-- jquery-1.11.0.min -->
<script type="text/javascript" src="/js/lib/jquery.bxslider.min.js"></script> <!-- bxslider -->
<script type="text/javascript" src="/js/lib/bxslider.js"></script> <!-- bxslider -->
<script type="text/javascript" src="/js/common.ui.js"></script> <!-- common.ui -->
