<h3>상품 안내 및 유의사항</h3>
<dl>
    <dt class="mt20">1. 영문학 2단계 합격 풀패키지</dt>
    <table class="event_info">
        <colgroup>
            <col width="10%">
            <col width="15%">
            <col width="20%">
            <col width="25%">
            <col width="25%">
        </colgroup>
        <tr>
            <th scope="row">구분</th>
            <th scope="row">선생님</th>
            <th scope="row">강의명</th>
            <th scope="row">수강기간</th>
            <th scope="row">무료재수강</th>
        </tr>
        <tr>
            <td rowspan="12" class="t1">강의</td>
            <td>방지현</td>
            <td>중급영어</td>
            <td rowspan="12">기본90일 + 이번회 독학사 2단계<br> 시험일까지 무료 연장 혜택</td>
            <td rowspan="12">불합격시 다음회 독학사 2단계<br> 시험일까지 무료 재수강 </td>
        </tr>
        <tr>
            <td>유두리</td>
            <td>영어학개론</td>
        </tr>
        <tr>
            <td>조혜진</td>
            <td>19세기영미소설</td>
        </tr>
        <tr>
            <td>김민경</td>
            <td>영문법</td>
        </tr>
        <tr>
            <td>최미현</td>
            <td>영어음성학</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td>영어문학개관</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td>중급영어 모의고사</td>
        </tr>
        <tr>
            <td>유두리</td>
            <td>영어학개론 모의고사</td>
        </tr>
        <tr>
            <td>조혜진</td>
            <td>19세기영미소설 모의고사</td>
        </tr>
        <tr>
            <td>김민경</td>
            <td>영문법 모의고사</td>
        </tr>
        <tr>
            <td>최미현</td>
            <td>영어음성학 모의고사</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td>영국문학개관 모의고사</td>
        </tr>
        <tr>
            <td rowspan="12" class="t1">교재</td>
            <td>방지현</td>
            <td colspan="3">중급영어</td>
        </tr>
        <tr>
            <td>유두리</td>
            <td colspan="3">영어학개론</td>
        </tr>
        <tr>
            <td>조혜진</td>
            <td colspan="3">19세기영미소설</td>
        </tr>
        <tr>
            <td>김민경</td>
            <td colspan="3">영문법</td>
        </tr>
        <tr>
            <td>최미현</td>
            <td colspan="3">영어음성학</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td colspan="3">영국문학개관</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td colspan="3">중급영어 모의고사</td>
        </tr>
        <tr>
            <td>유두리</td>
            <td colspan="3">영어학개론 모의고사</td>
        </tr>
        <tr>
            <td>조혜진</td>
            <td colspan="3">19세기영미소설 모의고사</td>
        </tr>
        <tr>
            <td>김민경</td>
            <td colspan="3">영문법 모의고사</td>
        </tr>
        <tr>
            <td>최미현</td>
            <td colspan="3">영어음성학 모의고사</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td colspan="3">영어문학개관 모의고사</td>
        </tr>
    </table>

    <dt>2. 영문학 2단계 벼락치기 패키지</dt>
    <table class="event_info">
        <colgroup>
            <col width="10%">
            <col width="15%">
            <col width="20%">
            <col width="25%">
            <col width="25%">
        </colgroup>
        <tr>
            <th>구분</th>
            <th>선생님</th>
            <th>강의명</th>
            <th>수강기간</th>
        </tr>
        <tr>
            <td rowspan="12" class="t1">강의</td>
            <td>방지현</td>
            <td>중급영어</td>
            <td rowspan="12">기본90일 + 이번회 독학사 2단계<br> 시험일까지 무료 연장 혜택</td>
        </tr>
        <tr>
            <td>유두리</td>
            <td>영어학개론</td>
        </tr>
        <tr>
            <td>조혜진</td>
            <td>19세기영미소설</td>
        </tr>
        <tr>
            <td>김민경</td>
            <td>영문법</td>
        </tr>
        <tr>
            <td>최미현</td>
            <td>영어음성학</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td>영국문학개관</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td>중급영어 모의고사</td>
        </tr>
        <tr>
            <td>유두리</td>
            <td>영어학개론 모의고사</td>
        </tr>
        <tr>
            <td>조혜진</td>
            <td>19세기영미소설 모의고사</td>
        </tr>
        <tr>
            <td>김민경</td>
            <td>영문법 모의고사</td>
        </tr>
        <tr>
            <td>최미현</td>
            <td>영어음성학 모의고사</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td>영국문학개관 모의고사</td>
        </tr>
        <tr>
            <td rowspan="12" class="t1">교재</td>
            <td>방지현</td>
            <td colspan="2">중급영어</td>
        </tr>
        <tr>
            <td>유두리</td>
            <td colspan="2">영어학개론</td>
        </tr>
        <tr>
            <td>조혜진</td>
            <td colspan="2">19세기영미소설</td>
        </tr>
        <tr>
            <td>김민경</td>
            <td colspan="2">영문법</td>
        </tr>
        <tr>
            <td>최미현</td>
            <td colspan="2">영어음성학</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td colspan="2">영국문학개관</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td colspan="2">중급영어 모의고사</td>
        </tr>
        <tr>
            <td>유두리</td>
            <td colspan="2">영어학개론 모의고사</td>
        </tr>
        <tr>
            <td>조혜진</td>
            <td colspan="2">19세기영미소설 모의고사</td>
        </tr>
        <tr>
            <td>김민경</td>
            <td colspan="2">영문법 모의고사</td>
        </tr>
        <tr>
            <td>최미현</td>
            <td colspan="2">영어음성학 모의고사</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td colspan="2">영국문학개관 모의고사</td>
        </tr>
    </table>

    <dt>3. 영문학 3단계 합격 풀패키지</dt>
    <table class="event_info">
        <colgroup>
            <col width="10%">
            <col width="15%">
            <col width="20%">
            <col width="25%">
            <col width="25%">
        </colgroup>
        <tr>
            <th scope="row">구분</th>
            <th scope="row">선생님</th>
            <th scope="row">강의명</th>
            <th scope="row">수강기간</th>
            <th scope="row">무료재수강</th>
        </tr>
        <tr>
            <td rowspan="12" class="t1">강의</td>
            <td>방지현</td>
            <td>고급영어</td>
            <td rowspan="12">기본90일 + 이번회 독학사 3단계<br> 시험일까지 무료 연장 혜택</td>
            <td rowspan="12">불합격시 다음회 독학사 3단계<br> 시험일까지 무료 재수강 </td>
        </tr>
        <tr>
            <td>유두리</td>
            <td>영어발달사</td>
        </tr>
        <tr>
            <td>조혜진</td>
            <td>20세기영미소설</td>
        </tr>
        <tr>
            <td>김민경</td>
            <td>고급영문법</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td>미국문학개관</td>
        </tr>
        <tr>
            <td>유두리</td>
            <td>영어통사론</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td>고급영어 모의고사</td>
        </tr>
        <tr>
            <td>유두리</td>
            <td>영어발달사 모의고사</td>
        </tr>
        <tr>
            <td>조혜진</td>
            <td>20세기영미소설 모의고사</td>
        </tr>
        <tr>
            <td>김민경</td>
            <td>고급영문법 모의고사</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td>미국문학개관 모의고사</td>
        </tr>
        <tr>
            <td>유두리</td>
            <td>영어통사론 모의고사</td>
        </tr>
        <tr>
            <td rowspan="12" class="t1">교재</td>
            <td>방지현</td>
            <td colspan="3">고급영어</td>
        </tr>
        <tr>
            <td>유두리</td>
            <td colspan="3">영어발달사</td>
        </tr>
        <tr>
            <td>조혜진</td>
            <td colspan="3">20세기영미소설</td>
        </tr>
        <tr>
            <td>김민경</td>
            <td colspan="3">고급영문법</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td colspan="3">미국문학개관</td>
        </tr>
        <tr>
            <td>유두리</td>
            <td colspan="3">영어통사론</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td colspan="3">고급영어 모의고사</td>
        </tr>
        <tr>
            <td>유두리</td>
            <td colspan="3">영어발달사 모의고사</td>
        </tr>
        <tr>
            <td>조혜진</td>
            <td colspan="3">20세기영미소설 모의고사</td>
        </tr>
        <tr>
            <td>김민경</td>
            <td colspan="3">고급영문법 모의고사</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td colspan="3">미국문학개관 모의고사</td>
        </tr>
        <tr>
            <td>유두리</td>
            <td colspan="3">영어통사론 모의고사</td>
        </tr>
    </table>

    <dt>4. 영문학 3단계 벼락치기 패키지</dt>
    <table class="event_info">
        <colgroup>
            <col width="10%">
            <col width="15%">
            <col width="20%">
            <col width="25%">
            <col width="25%">
        </colgroup>
        <tr>
            <th>구분</th>
            <th>선생님</th>
            <th>강의명</th>
            <th>수강기간</th>
        </tr>
        <tr>
            <td rowspan="12" class="t1">강의</td>
            <td>방지현</td>
            <td>고급영어</td>
            <td rowspan="12">기본90일 + 이번회 독학사 3단계<br> 시험일까지 무료 연장 혜택</td>
        </tr>
        <tr>
            <td>유두리</td>
            <td>영어발달사</td>
        </tr>
        <tr>
            <td>조혜진</td>
            <td>20세기영미소설</td>
        </tr>
        <tr>
            <td>김민경</td>
            <td>고급영문법</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td>영국문학개관</td>
        </tr>
        <tr>
            <td>유두리</td>
            <td>영어통사론</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td>고급영어 모의고사</td>
        </tr>
        <tr>
            <td>유두리</td>
            <td>영어발달사 모의고사</td>
        </tr>
        <tr>
            <td>조혜진</td>
            <td>20세기영미소설 모의고사</td>
        </tr>
        <tr>
            <td>김민경</td>
            <td>고급영문법 모의고사</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td>영국문학개관 모의고사</td>
        </tr>
        <tr>
            <td>유두리</td>
            <td>영어통사론 모의고사</td>
        </tr>
        <tr>
            <td rowspan="12" class="t1">교재</td>
            <td>방지현</td>
            <td colspan="2">고급영어</td>
        </tr>
        <tr>
            <td>유두리</td>
            <td colspan="2">영어발달사</td>
        </tr>
        <tr>
            <td>조혜진</td>
            <td colspan="2">20세기영미소설</td>
        </tr>
        <tr>
            <td>김민경</td>
            <td colspan="2">고급영문법</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td colspan="2">미국문학개관</td>
        </tr>
        <tr>
            <td>유두리</td>
            <td colspan="2">영어통사론</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td colspan="2">고급영어 모의고사</td>
        </tr>
        <tr>
            <td>유두리</td>
            <td colspan="2">영어발달사 모의고사</td>
        </tr>
        <tr>
            <td>조혜진</td>
            <td colspan="2">20세기영미소설 모의고사</td>
        </tr>
        <tr>
            <td>김민경</td>
            <td colspan="2">고급영문법 모의고사</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td colspan="2">미국문학개관 모의고사</td>
        </tr>
        <tr>
            <td>유두리</td>
            <td colspan="2">영어통사론 모의고사</td>
        </tr>
    </table>

    <dt>3. 수강</dt>
    <p>
        <span>-</span><strong>영어영문 2단계 합격 풀패키지</strong> : 기본90일 + 이번회 독학사 2단계 시험일까지 수강 가능합니다. (무료 연장 혜택)<br>
        불합격 시, 다음회 독학사 2단계 시험일까지 무료재수강 가능합니다. (증빙자료 제출 필요)<br>
        * 증빙자료 : 이번회 독학사 시험 성적표 또는 응시사실확인서<br><br>
        <span>-</span><strong>영어영문 2단계 벼락치기 패키지</strong> : 기본90일 + 이번회 독학사 2단계 시험일까지 수강 가능합니다. (무료 연장 혜택) <br> <br>
        <span>-</span><strong>영어영문 3단계 합격 풀패키지</strong> : 기본90일 + 이번회 독학사 3단계 시험일까지 수강 가능합니다. (무료 연장 혜택)
        <br>
        불합격 시, 다음회 독학사 3단계 시험일까지 무료재수강 가능합니다. (증빙자료 제출 필요)<br>
        * 증빙자료 : 이번회 독학사 시험 성적표 또는 응시사실확인서<br><br>

        <span>-</span><strong>영어영문 3단계 벼락치기 패키지</strong> : 기본90일 + 이번회 독학사 3단계 시험일까지 수강 가능합니다. (무료 연장 혜택)
    </p>
</dl>