.bx-wrapper .bx-pager.bx-default-pager a{background:#e1e1e1}
.cont05{padding:0 3% 12%;background:#fcf8db;}
.cont05 .bx-wrapper .bx-pager{bottom:-5%;}
.cont05 .bx-wrapper .bx-pager .bx-pager-item .bx-pager-link.active{background: #1795f0;}
.cont07{padding:0 3% 12%;background:#39cba1;}
.cont07 .bx-wrapper .bx-pager{bottom:-7%;}
.cont07 .bx-wrapper .bx-pager .bx-pager-item .bx-pager-link.active{background: #e6ff5b;}