<h3>상품 안내 및 유의사항</h3>
<dl>
    <dt>1. 경영학 합격풀패키지</dt>
    <table class="event_info">
        <colgroup>
            <col width="15%">
            <col width="15%">
            <col width="25%">
            <col width="15%">
            <col width="25%">
        </colgroup>
        <tr>
            <th>단계</th>
            <th>교수님</th>
            <th>강의</th>
            <th>교재</th>
            <th>수강기간</th>
        </tr>
        <tr>
            <td rowspan="6">독학사<br/>2단계</td>
            <td>허정</td>
            <td>마케팅원론</td>
            <td rowspan="13" class="red_f">교재</td>
            <td rowspan="6" class="red_f">기본 90일+ 이번회 독학사 2단계<br/>
                시험일까지 무료 연장 혜택<br/><br/>
                불합격 인증 시, 다음회 독학사 2단계 시험일까지 무료재수강</td>
        </tr>
        <tr>
            <td>최재웅</td>
            <td>경영정보론</td>
        </tr>
        <tr>
            <td>박재희</td>
            <td>인적자원관리</td>
        </tr>
        <tr>
            <td>육지훈</td>
            <td>회계원리</td>
        </tr>
        <tr>
            <td>이재연</td></td>
            <td>조직행동론</td>
        </tr>
        <tr>
            <td>박근완</td>
            <td>생산운영관리</td>
        </tr>
        <tr>
            <td rowspan="7">독학사<br/>3단계</td>
            <td>허정</td>
            <td>마케팅원론</td>
            <td rowspan="7" class="red_f">기본 90일+ 이번회 독학사 3단계<br/>
                시험일까지 무료 연장 혜택<br/><br/>
                불합격 인증 시, 다음회 독학사 3단계 시험일까지 무료재수강</td>
        </tr>
        <tr>
            <td>한은정</td>
            <td>경영과학</td>
        </tr>
        <tr>
            <td>박재희</td>
            <td>노사관계론</td>
        </tr>
        <tr>
            <td>육지훈</td>
            <td>재무회계</td>
        </tr>
        <tr>
            <td>최재웅</td>
            <td>경영전략</td>
        </tr>
        <tr>
            <td>원현희</td>
            <td>재무관리론</td>
        </tr>
        <tr>
            <td>한은정</td>
            <td>경영과학 모의고사</td>
        </tr>
    </table>

    <dt>2. 경영학 벼락치기패키지</dt>
    <table class="event_info">
        <colgroup>
            <col width="15%">
            <col width="15%">
            <col width="25%">
            <col width="15%">
            <col width="25%">
        </colgroup>
        <tr>
            <th>단계</th>
            <th>교수님</th>
            <th>강의</th>
            <th>교재</th>
            <th>수강기간</th>
        </tr>
        <tr>
            <td rowspan="6">독학사<br/>2단계</td>
            <td>허정</td>
            <td>마케팅원론</td>
            <td rowspan="13" class="red_f">교재</td>
            <td rowspan="6" class="red_f">기본 90일+ 이번회 독학사 2단계<br/>
                시험일까지 무료 연장 혜택</td>
        </tr>
        <tr>
            <td>최재웅</td>
            <td>경영정보론</td>
        </tr>
        <tr>
            <td>박재희</td>
            <td>인적자원관리</td>
        </tr>
        <tr>
            <td>육지훈</td>
            <td>회계원리</td>
        </tr>
        <tr>
            <td>이재연</td></td>
            <td>조직행동론</td>
        </tr>
        <tr>
            <td>박근완</td>
            <td>생산운영관리</td>
        </tr>
        <tr>
            <td rowspan="7">독학사<br/>3단계</td>
            <td>허정</td>
            <td>마케팅원론</td>
            <td rowspan="7" class="red_f">기본 90일+ 이번회 독학사 3단계<br/>
                시험일까지 무료 연장 혜택</td>
        </tr>
        <tr>
            <td>한은정</td>
            <td>경영과학</td>
        </tr>
        <tr>
            <td>박재희</td>
            <td>노사관계론</td>
        </tr>
        <tr>
            <td>육지훈</td>
            <td>재무회계</td>
        </tr>
        <tr>
            <td>최재웅</td>
            <td>경영전략</td>
        </tr>
        <tr>
            <td>원현희</td>
            <td>재무관리론</td>
        </tr>
        <tr>
            <td>한은정</td>
            <td>경영과학 모의고사</td>
        </tr>
    </table>
</dl>