<h3>상품 안내 및 유의사항</h3>
<p>해커스독학사 0원 끝장패스는 미션 달성시 수강료를 100% 환급받을 수 있으며, 미션을 달성하지 못해도 합격할 때까지 수강기간을 무제한 무료로 연장해주는 상품입니다.</p>
<dl>
    <dt class="mt20">1. 경영학 0원 끝장패스</dt>
    <table class="event_info">
        <colgroup>
            <col width="15%">
            <col width="15%">
            <col width="25%">
            <col width="15%">
            <col width="25%">
        </colgroup>
        <tr>
            <th>단계</th>
            <th>교수님</th>
            <th>강의</th>
            <th>교재</th>
            <th>수강기간</th>
        </tr>
        <tr>
            <td rowspan="5">독학사<br/>1단계</td>
            <td>최수지</td>
            <td>교양국어</td>
            <td rowspan="5" class="red_f">교재 + PDF모의고사</td>
            <td rowspan="22" class="red_f">기본 90일+ 275일 무료 연장<br/>
                (총 365일 수강가능)<br/><br/>
                불합격 인증 시, 무제한 수강기간 <br> 무료 연장 혜택</td>
        </tr>
        <tr>
            <td>연미정,김승범</td>
            <td>교양국사</td>
        </tr>
        <tr>
            <td>윤광덕</td>
            <td>교양영어</td>
        </tr>
        <tr>
            <td>서호성</td>
            <td>현대사회와 윤리</td>
        </tr>
        <tr>
            <td>강태홍</td></td>
            <td>사회학개론</td>
        </tr>
        <tr>
            <td rowspan="6">독학사<br/>2단계</td>
            <td>허정</td>
            <td>마케팅원론</td>
            <td rowspan="17" class="red_f">교재</td>
        </tr>
        <tr>
            <td>최재웅</td>
            <td>경영정보론</td>
        </tr>
        <tr>
            <td>박재희</td>
            <td>인적자원관리</td>
        </tr>
        <tr>
            <td>육지훈</td>
            <td>회계원리</td>
        </tr>
        <tr>
            <td>이재연</td>
            <td>조직행동론</td>
        </tr>
        <tr>
            <td>박근완</td>
            <td>생산운영관리</td>
        </tr>
		<tr>
            <td rowspan="7">독학사<br/>3단계</td>
            <td>허정</td>
            <td>소비자행동론</td>
        </tr>
        <tr>
            <td>한은정</td>
            <td>경영과학</td>
        </tr>
        <tr>
            <td>박재희</td>
            <td>노사관계론</td>
        </tr>
        <tr>
            <td>육지훈</td>
            <td>재무회계</td>
        </tr>
        <tr>
            <td>최재웅</td>
            <td>경영전략</td>
        </tr>
        <tr>
            <td>원현희</td>
            <td>재무관리론</td>
        </tr>
		<tr>
            <td>한은정</td>
            <td>경영과학 모의고사</td>
        </tr>
		<tr>
            <td rowspan="4">독학사<br/>4단계</td>
            <td>김진구,이선미</td>
            <td>마케팅관리</td>
        </tr>
        <tr>
            <td>박재희,백휘성</td>
            <td>인사조직론</td>
        </tr>
        <tr>
            <td>원현희</td>
            <td>재무관리론</td>
        </tr>
        <tr>
            <td>신미숙</td>
            <td>회계학</td>
        </tr>
    </table>

    <dt>2. 영어영문학 0원 끝장패스</dt>
    <table class="event_info">
        <colgroup>
            <col width="15%">
            <col width="15%">
            <col width="25%">
            <col width="15%">
            <col width="25%">
        </colgroup>
        <tr>
            <th>단계</th>
            <th>교수님</th>
            <th>강의</th>
            <th>교재</th>
            <th>수강기간</th>
        </tr>
        <tr>
            <td rowspan="5">독학사<br/>1단계</td>
            <td>최수지</td>
            <td>교양국어</td>
            <td rowspan="5" class="red_f">교재 + PDF모의고사</td>
            <td rowspan="31" class="red_f">기본90일 + 275일 무료 연장  <br>
			(총 365일 수강 가능) <br><br>불합격 인증시 무제한 수강기간 무료 연장 혜택 </td>
        </tr>
        <tr>
            <td>연미정,김승범</td>
            <td>교양국사</td>
        </tr>
        <tr>
            <td>윤광덕</td>
            <td>교양영어</td>
        </tr>
        <tr>
            <td>서호성</td>
            <td>현대사회와 윤리</td>
        </tr>
        <tr>
            <td>강태홍</td></td>
            <td>사회학개론</td>
        </tr>
        <tr>
            <td rowspan="12">독학사<br/>2단계</td>
            <td>방지현</td>
            <td>중급영어</td>
            <td rowspan="24" class="red_f">교재</td>
        </tr>
        <tr>
            <td>유두리</td>
            <td>영어학개론</td>
        </tr>
        <tr>
            <td>조혜진</td>
            <td>19세기영미소설</td>
        </tr>
        <tr>
            <td>김민경</td>
            <td>영문법</td>
        </tr>
        <tr>
            <td>최미현</td>
            <td>영어음성학</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td>영국문학개관</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td>중급영어 모의고사</td>
        </tr>
		<tr>
            <td>유두리</td>
            <td>영어학개론 모의고사</td>
        </tr>
		<tr>
            <td>조혜진</td>
            <td>19세기영미소설 모의고사</td>
        </tr>
		<tr>
            <td>김민경</td>
            <td>영문법 모의고사</td>
        </tr>
		<tr>
            <td>최미현</td>
            <td>영어음성학 모의고사</td>
        </tr>
		<tr>
            <td>방지현</td>
            <td>영국문학개관 모의고사</td>
        </tr>
		<tr>
            <td rowspan="12">독학사<br/>3단계</td>
            <td>방지현</td>
            <td>고급영어</td>
        </tr>
        <tr>
            <td>유두리</td>
            <td>영어발달사</td>
        </tr>
        <tr>
            <td>조혜진</td>
            <td>20세기영미소설</td>
        </tr>
        <tr>
            <td>김민경</td>
            <td>고급영문법</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td>미국문학개관</td>
        </tr>
        <tr>
            <td>유두리</td>
            <td>영어통사론</td>
        </tr>
        <tr>
            <td>방지현</td>
            <td>고급영어 모의고사</td>
        </tr>
		<tr>
            <td>유두리</td>
            <td>영어발달사 모의고사</td>
        </tr>
		<tr>
            <td>조혜진</td>
            <td>20세기영미소설 모의고사</td>
        </tr>
		<tr>
            <td>김민경</td>
            <td>고급영문법 모의고사</td>
        </tr>
		<tr>
            <td>방지현</td>
            <td>미국문학개관 모의고사</td>
        </tr>
		<tr>
            <td>유두리</td>
            <td>영어통사론 모의고사</td>
        </tr>
		<tr>
            <td rowspan="2">독학사<br/>4단계</td>
            <td>조혜진</td>
            <td>영미소설</td>
            <td rowspan="2" class="red_f">교재미포함</td>
        </tr>
		<tr>
            <td>방지현</td>
            <td>영미문학개관</td>
        </tr>

    </table>
</dl>