<div id="container">
	<div id="snb">
		<h2>로그인</h2>
		<span class="snb_prev">
			<a href="#;" class="his_back"><img src="<?=$images?>/common/btn_prev.png" alt="이전"/></a>
		</span>
	</div>
	<div id="join_container">
		<div class="member-wrap ut_login">
			<div class="content_tit">
				<h1>
					<img src="<?=$images?>/member/tit_login_ut.png" alt="해커스 독학사 로그인"/>
				</h1>
			</div>
			<div class="login_con">
				<ul class="login_box">
					<li>
						<input type="text" name="user_id" id="user_id" placeholder="아이디" onkeyup="enterkey_ut(this)">
						<span class="value_clear">x</span>
					</li>
					<li>
						<input type="password" name="password" id="password" style="background-color:#f6f7f9;" placeholder="비밀번호" onkeyup="enterkey_ut(this)">
						<span class="value_clear">x</span>
					</li>
				</ul>
				
				※ 해커스편입 계정으로 로그인해주세요.
				<div class="btn_area">
					<a href="#;" onclick="memberUtLogin();" class="btn-login">로그인</a>
					<a href="//m.hackersut.com/?c=join" class="btn-join-quick">회원가입</a>
				</div>
			</div>
		</div>
	</div>
	<!--// container -->
	
	
</div>