<div id="container">
	<div id="snb">
		<h2>회원가입</h2>
		<span class="snb_prev">
			<a href="#;" class="his_back"><img src="<?=$images?>/common/btn_prev.png" alt="이전"/></a>
		</span>
	</div>
	
	<div id="join_container">
		<div class="member-wrap bg-gray">
			<div class="content_con">
				<ul class="step_box">
					<li class="step1"><span>1</span>약관 동의</li>
					<li class="step2"><span>2</span>회원정보</li>
					<li class="step3 on"><span>3</span>가입완료</li>
				</ul>
				<div class="content_box join_finish">
					<img src="https://gscdn.hackers.co.kr/haksa2080/images/member/join_finish.png" alt="">
					<strong>해커스독학사의 <span class="f_point">회원</span>이 되셨습니다.</strong>
					<p>
						지급받은 5,000 포인트는<br>
						<u class="f_point" onclick="location.href='/payment/payment_point'">마이클래스</u> 에서 확인 가능합니다.
					</p>
				</div>
			</div>
			<div class="btn_area">
				<a href="/login/main" class="btn">로그인</a>
			</div>
		</div>
	</div>
	<!--// container -->
	
</div>