<div id="container">
	<div id="snb">
		<h2 class="ut_tit">
			<img src="<?=$images?>/member/tit_login_ut.png" alt="해커스 독학사 로그인"/>
		</h2>
	</div>
	<div id="join_container">
		<div class="member-wrap ut_login bg-gray">
			<div class="content_con">
				<p class="txt_s">
					해커스편입 회원들 중 해커스독학사 간편회원 가입을 원하시는 분들께서는
					아래 명시된 개인정보 제3자 제공 및 공유에 동의 후, 서비스를
					이용하실 수 있습니다.
				</p>
				<div class="content_box agree_box">
					<strong>[개인정보 제 3자 제공 및 공유에 대한 동의]</strong>
					<p class="txt_m">
						다음의 제 3자에 대한 제공내용은 해당 서비스 이용을
						희망하는 회원에 한하여 선택적으로 동의절차를
						진행합니다.
					</p>
					<table>
						<tbody>
						<tr>
							<th scope="row">
								개인정보를 제공받는 자
							</th>
							<td class="f_point">
								(주) 해커스독학사
							</td>
						</tr>
						<tr>
							<th scope="row">
								개인정보를 제공받는
								자의 개인정보 이용목적
							</th>
							<td>
								간편회원가입 서비스제공
							</td>
						</tr>
						<tr>
							<th scope="row">
								제공하는 개인정보 항목
							</th>
							<td>
								(필수) 이름, 생년월일,
								휴대전화번호, 이메일
								(선택) 성별, 주소
							</td>
						</tr>
						<tr>
							<th scope="row">
								개인정보를 제공받는 자의
								개인정보 보유 및 이용기간
							</th>
							<td>
								법령이 정하는 경우를  제외
								하고는 회원탈퇴시까지
								보유합니다.
							</td>
						</tr>
						</tbody>
					</table>
					<p class="txt_s">
						※ 편입회원분들께서는 개인정보 제공 동의에 거부하실 수 있으며,
						거부하시더라도 해커스독학사에 회원가입이 가능하나,
						간편회원가입서비스 이용이 제한될 수 있습니다.
					</p>
				</div>
			</div>
			<div class="btn_area">
				<span class="input_chk">
					<i class="ico_input v3"></i>
					<input type="checkbox" name="user_search_agree" id="user_search_agree">
					<label for="user_search_agree">
						본인은 상기 명시된 개인정보 제 3자 제공 및 공유에 동의합니다.
					</label>
				</span>
				<div class="tbl_row">
					<div class="tbl_cell" style="width:50%;">
						<a href="#" class="btn gray his_back">취소</a>
					</div>
					<div class="tbl_cell" style="width:50%;">
						<a href="#;" onclick="user_search_agree();" class="btn ut_point">동의</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--// container -->
	
	
</div>