<div id="container">
	<div id="snb">
		<h2>비밀번호 찾기</h2>
		<span class="snb_prev">
			<a href="/login/main"><img src="<?=$images?>/common/btn_prev.png" alt="이전"/></a>
		</span>
	</div>
	<div id="search_container">
		<!-- gnb -->
		<div id="gnb">
			<h2 class="hide">주 메뉴</h2>
			<ul class="col2"><!-- 활성시 active 추가 -->
				<li><a href="/member/search?searchType=password&search=tel">휴대폰 번호 인증</a></li>
				<li class="active"><a href="/member/search?searchType=password&search=email">이메일 주소 인증</a></li>
			</ul>
		</div>
		<div class="member-wrap" id="passwordForm">
			<div class="content_con">
				<ul class="find_form">
					<li>
						아이디<br>
						<input type="text" name="user_id" id="user_id" placeholder="4~12자 영문, 숫자로 입력해주세요.">
						<em class="ipt-feedback" id="id_feedback" style="margin-top:2%;">아이디를 입력해주세요.</em>
					</li>
					<li>
						이름<br>
						<input type="text" name="name" id="name" placeholder="한글 또는 영문으로 2자 이상 입력해주세요.">
						<em class="ipt-feedback" id="name_feedback" style="margin-top:2%;">이름을 입력해주세요.</em>
					</li>
					<li>
						생년월일<br>
						<input type="text" name="birth" id="birth" placeholder="8자리로 입력해주세요. (예 :  20191230)" maxlength="8">
						<em class="ipt-feedback" id="birth_feedback" style="margin-top:2%;">생년월일을 입력해주세요.</em>
					</li>
					<li>
						이메일주소
						<div class="email_box">
							<input type="text" name="email" id="email" placeholder="이메일 입력해주세요.">
							<span>@</span>
							<input type="text" name="join_email" id="join_email" placeholder="naver.com">
							<!--<select name="join_email" id="join_email">
								<option value="naver.com" selected="selected">naver.com</option>
								<option value="gmail.com">gmail.com</option>
								<option value="daum.net">daum.net</option>
								<option value="nate.com">nate.com</option>
								<option value="직접입력">직접입력</option>
							</select>
							<input class="email_input" type="text"  value="" placeholder="예 :  hackers@hackers.com">-->
						</div>
						<em class="ipt-feedback" id="email_feedback" style="margin-top:2%;">이메일을 입력해주세요.</em>
					</li>
					<li>
						휴대폰 번호
						<p class="input_txt">
							<input type="hidden" id="joinSmsCheck">
							<input type="text" name="handphone_index" id="handphone_index" placeholder="(-) 없이 번호만 입력해주세요." maxlength="11">
							<a href="#;" id="searchJoinSmsBtn" onclick="searchJoinSms('search_email');" class="btn gray">인증</a>
						</p>
						<em class="ipt-feedback" id="handphone_feedback" style="margin-top:2%;">휴대폰번호를 입력해주세요.</em>
						
						<p class="input_confirm" id="member_num_check" style="display:none;">
							<span id="timer">10:00</span>
							<input type="hidden" name="certification_id" id="certification_id">
							<input type="text" name="send_code" id="send_code" placeholder="인증번호를 입력해주세요." maxlength="6">
						</p>
					</li>
				</ul>
			</div>
			<div class="btn_area">
				<a href="#;" class="btn" onclick="searchJoinSms_certification('search_email');">확인</a>
			</div>
		</div>
	</div>
	
	<!--비밀번호 변경폼-->
	<div class="member-wrap" id="passwordChangeForm" style="display:none;">
		<div class="content_con">
			<!--비밀번호 재설정-->
			<div class="result_box">
				<input type="hidden" name="data_memberNo" id="data_memberNo">
				<span class="f_point"><em id="data_memberId"></em>(<em id="data_memberName"></em>)</span> 님,<br>
				비밀번호를 재설정해주세요.
				<ul class="find_form">
					<li>
						비밀번호<br>
						<input type="password" name="password_new" id="password_new" placeholder="영문, 숫자 중 2종류 이상/최소 10자">
						<em class="ipt-feedback" id="password_new_feedback" style="margin-top:2%;">비밀번호를 입력해주세요.</em>
					</li>
					<li>
						비밀번호 확인<br>
						<input type="password" name="password" id="password" placeholder="비밀번호와 동일하게 입력해주세요.">
					</li>
				</ul>
			</div>
			<!--비밀번호 재설정-->
		</div>
		<div class="btn_area">
			<a href="#;" onclick="memberInfoUpdate('password');" class="btn">변경하기</a>
		</div>
		
		<!--비밀번호 재설정 팝업-->
		<div class="member-pop" id="passwordChangePop" style="display:none;">
			<div class="bg" onclick="$(this).parent().fadeOut();"></div>
			<div class="contents">
				<a href="#;" class="icon-cls" onclick="$(this).parent().parent().fadeOut();"></a>
				<i class="icon-chk"></i>
				비밀번호가 변경되었습니다.<br>
				변경된 비밀번호로 로그인해주세요
				<div class="btn_area">
					<a href="/login/main" class="btn gray">확인</a>
				</div>
			</div>
		</div>
		<!--//비밀번호 재설정 팝업-->
	</div>
	<!--// 비밀번호 변경폼-->

</div>